

.alertNum {position: absolute; background: #d03233; border-radius: 50%; display:block; padding: 5px;font-size: 12px; top: 20px; right: 30px;}
.open .alertNum {color:#fff!important;}
.dropdown:hover .alertNum, .dropdown:active .alertNum, .dropdown a:focus .alertNum {color:#fff!important;}



#logo {border-right: 5px solid #fff; text-align: center; padding: 16px 0 0; background: #d03233; display:none; display:none; width: 205px; left: 0;position:absolute; height: 100%;}


#sidebar {display:block;position: relative; width: 100%; margin: 0;  background: #eee;float:left;}

.hideSide {display :none; top: 5px; right:0; position: absolute; cursor: pointer;}
.hideSide:hover {color: #d03233;}



@media(min-width:1199px) {
	#logo {display:block;}
	#map-canvas {display:block;}
	#sidebar  {width: 500px; margin-left: 0px; border-right: 5px solid #fff;}
	.hideSide {display :block;}
}
@media(max-width:1199px) {
	#logo {display:none;}
	#map-canvas {display:block; }
	#sidebar  {width: 500px; margin-left: 0px; border-right: 5px solid #fff;}
	.hideSide {display :block;}
}
@media(max-width:800px) {
	#logo {display:none;}
	#map-canvas {display:none; }
	#sidebar  {width: 100%; margin-left: 0px; }
	.hideSide {display :none;}
	.mapLink {display:block!important;}
}
#side-menu {height: 100%;}






