/* LIST STYLE */ 

.List {clear:both;list-style:none;padding:0;border-top:1px solid #fff;margin-bottom:0;}
.List li {display:block;padding:5px 5px 5px;border-bottom:1px solid #fff;transition: opacity .25s ease-in-out;-moz-transition: opacity .25s ease-in-out;-webkit-transition: opacity .25s ease-in-out;}
.List li:hover {background:#f8f8f8;}
.List  .col1, .List  .col2 {float:left; margin: 0 0 5px 0;padding: 0 5px;}

/* VEHICLE LIST STYLE */

#vehicles .Vtitle {font-weight: bold; display:block;font-size: 13px; }
#vehicles li img {float:left; margin: 0 15px 0 10px;}
#vehicles  .Vposition {font-size:12px;display:block;height:20px; overflow:hidden;margin-top:3px;}
#vehicles  .Vtime, #vehicles .Vspeed  {display:block;float:left;width: 40%; text-align: center;font-weight:bold; font-size: 13px;}
#vehicles  .Vspeed {margin-left: 10px; width: 50%;}
#vehicles  .Vtime span, #vehicles .Vspeed span {font-size: 12px; font-weight: normal; display:block; margin-top:3px;}
#vehicles  .col1 {width: 55%;}
#vehicles  .col2 {width: 45%;}

#vehicles  .Vgraph {clear:both;position:relative; border: 2px solid #000;max-width:500px;display: block; width: 100%; background: #333; overflow: hidden; height:12px;margin: 15px auto 0;}
#vehicles  .Vgraph img {width: 100%; position:absolute; top:0; left: 0;}

 /* Media Queries */

@media(max-width:370px) { #vehicles li .img {display:none;} #vehicles  .Vtime, #vehicles .Vspeed, #vehicles  .Vposition, #vehicles .Vtitle  {font-size: 11px;} }

/* POI LIST STYLE */

#poi  .col1 {width: 10%; margin:0 10px 0 0; padding:0;text-align: center;}
#poi  .col2 {width: 85%;margin:0; padding:0;}
#poi li img {margin: 0;width:100%;max-width:36px;}
#poi .pAddress {display:block; width: 100%;font-weight:bold;}
#poi .pRadius, #poi .pBounds  {font-weight:bold; margin-left: 7px; font-size: 12px;}
#poi .pRadius {margin:0;}
#poi .pRadius span, #poi .pRadius span, #poi .pBounds span {font-weight:normal}

@media(max-width:370px) { #poi  .col2 {width:100%;}#poi li .img {display:none;} #poi .pRadius, #poi .pBounds, #poi  .pAddress  {font-size: 11px;} }


/* FILTER STYLES */

#filter {padding: 9px 10px;}
